<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.title}"></title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<header th:insert="fragments/navbar :: nav_fragment"></header>

<main class="container p-3 my-3">
    <div class="card">
        <div class="card card-header bg-info text-white">
            <h2>Product Details</h2>
        </div>

        <div class="card-body">
            <p th:text="${productDto.id}"></p>
            <p th:text="${productDto.name}"></p>
            <p th:text="'$' + ${productDto.price}"></p>
            <p th:text="${productDto.productDetailsDto.name}"></p>
        </div>

        <div class="card-footer">
            <a th:href="@{/admin/product/}" class="btn btn-danger">Back</a>
        </div>
    </div>
</main>

<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>