<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<nav th:insert="fragments/navbar :: nav_fragment" ></nav>

<h1 style="margin-top: 80px">Control Panel</h1>

<footer th:insert="fragments/footer :: footer_fragment" ></footer>

</body>
</html>